
* {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 100px;
  height: 80px;
  background-color: #000000; /* Black */
}

.logo {
  position: absolute;
  left: 0;
  margin-left: 50px;
}

nav ul {
  display: flex;
  list-style: none;
  box-sizing: border-box;
}

nav ul li .nav-label {
  display: block;
  color: #ffffff; /* White */
  font-size: 20px;
  padding: 10px 25px;
  border-radius: 25px;
  margin: 0 5px;
  text-decoration: none;
}

.all-card {
  width: 350px;
  height: 300px;
  padding-top: 20px;
  background-color: #f7f7f7;
  border-radius: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 20px;
  color: #000000; /* Black */
  transition: 0.5s ease-in-out;
}

.all-card:hover {
  background-color: #000000; /* Black */
  color: #ffffff; /* White */
}

.loading-layer {
  min-height: 100vh;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.body-layer {
  min-height: 70vh;
  max-height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 50px;
  padding-bottom: 75px;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  border: 2px solid #000000; /* Black */
  border-radius: 10px;
  padding: 20px;
}

.login-layer {
  min-height: 70vh;
  max-height: 100%;
  padding: 50px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-layer {
  min-height: 70vh;
  max-height: 100%;
  padding: 50px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.order-layer {
  min-height: 80vh;
  max-height: 100%;
}

.center-body {
  padding-top: 40px;
  padding-bottom: 50px;
  min-height: 80vh;
  max-height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.home-layer {
  min-height: 70vh;
  max-height: 100%;
  padding: 50px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.welcome-section h1{
  text-align: center;
  font-size: 80px;
}

.welcome-section p{
  text-align: center;
  font-size: 20px;
}

.add-header {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 40vh;
}

.debug {
  border: 1px solid #808080; /* Gray */
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 30px;
  gap: 10px;
}

.select-image {
  width: 400px;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
}

.all-image {
  width: 300px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.select-card {
  padding: 20px;
  width: 70vh;
  height: 45vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  transition: 0.5s ease-in-out;
  color: #000000; /* Black */
}

.select-card:hover {
  background-color: #000000; /* Black */
  color: #ffffff; /* White */
}

.orange-table {
  margin-top: 40px;
  border: 2px solid #000000; /* Black */
  background-color: #808080; /* Gray */
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.orange-table th,
.orange-table td {
  padding: 10px;
  border: 1px solid #000000; /* Black */
}

.mt-1 {
  margin-top: 10px;
}

.mt-3 {
  margin-top: 30px;
}

.font-primary {
  font-family: "Shoppe Font", sans-serif;
}

.font-spacing {
  letter-spacing: 0.5px;
}

.font-bold {
  font-weight: bold;
}

.fsize-header {
  font-size: 20px;
}

.fsize-footer {
  font-size: 18px;
}

.fsize-small {
  font-size: 12px;
}

.font-body {
  font-size: 16px;
}

.color-primary {
  color: #000000; /* Black */
}

.color-white {
  color: #ffffff; /* White */
}

.color-secondary {
  color: #808080; /* Gray */
}

.colorbg-secondary {
  background-color: #808080; /* Gray */
}

.color-black {
  color: #000000; /* Black */
}

.text-deco {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.onHover:hover {
  cursor: pointer;
}
footer {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 30px;
  margin-top: 20px;
  height: 30px;
  background-color: #000000; /* Black */
}

input {
  padding: 10px;
  border: 1px solid #000000; /* Black */
  border-radius: 5px;
  width: 300px;
}

button {
  padding: 10px;
  border: 1px solid #000000; /* Black */
  border-radius: 5px;
  width: 100%;
  background-color: #000000; /* Black */
  color: #ffffff; /* White */
  font-size: 16px;
  cursor: pointer;
  transition: 0.5s ease;
}

button:hover {
  background-color: #ffffff; /* White */
  color: #000000; /* Black */
}

header nav ul li:hover > * {
  transition: 0.5s ease;
  background-color: #ffffff; /* White */
  color: #000000; /* Black */
  cursor: pointer;
  border-radius: 20px;
}
